/* *********************************** */
/* BELOW 544px (Phones) */
/* *********************************** */
@media (max-width: 34em) {
  .guess {
    width: 20rem;
  }
  .right {
    width: 52rem;
    font-size: 1.5rem;
  }
  .btn {
    padding: 2rem 1rem;
    cursor: pointer;
  }
  h1 {
    font-size: 3.5rem;
  }
  .between {
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
}

/* *********************************** */
/* BELOW 480px (Phones) */
/* *********************************** */
@media (max-width: 30em) {
  .message {
    margin-left: 3rem;
  }
}

/* *********************************** */
/* BELOW 400px (Phones) */
/* *********************************** */
@media (max-width: 25em) {
  .guess {
    width: 17rem;
  }
  .right {
    width: 52rem;
    font-size: 1.2rem;
  }
  .btn {
    padding: 1rem 1rem;
    cursor: pointer;
  }
  h1 {
    font-size: 3.2rem;
  }
  .between {
    font-size: 1rem;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
}
